# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
.venv

# SQLite (opcional si quieren que se autogenere o pueden incluirlo)
# *.db

# Frontend
node_modules/
dist/
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
